/* Estilos generales del navbar */
.MuiAppBar-root {
  background-color: #ffffff !important;
  color: #000000 !important;
  box-shadow: none !important;
  border-bottom: 1px solid #eaeaea;
}

/* Estilos para el logo */
.navbar-logo {
  text-decoration: none;
  color: inherit;
  font-weight: bold;
  font-size: 1.5rem;
  letter-spacing: 1px;
}

/* Estilos para los enlaces de navegación */
.MuiButton-root {
  color: #000000 !important;
  font-weight: 400;
  text-transform: none !important; /* Evita que los textos estén en mayúsculas */
  position: relative;
  margin: 0px 15px;
  padding: 4px 20px;
}

/* Efecto de subrayado en hover para los enlaces */
.nav-link {
  position: relative;
}

.nav-link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  bottom: 0;
  left: 50%;
  background-color: #000000;
  transition: all 0.3s ease-in-out;
  transform: translateX(-50%);
}

.nav-link:hover::after {
  width: 70%;
}

/* Efecto de subrayado en hover para los enlaces */
.nav-link:hover {
  background-color: transparent !important;
}

/* Estilos para los iconos */
.nav-icon {
  color: #000000;
  transition: transform 0.3s ease;
  margin: 0px 15px;
}

/* Efecto de escala en hover para los iconos */
.nav-icon:hover {
  background-color: transparent !important;
  transform: scale(1.2);
}

/* Contenedor de elementos a la derecha */
.right-elements {
  display: flex;
  align-items: center;
}

/* Estilos para el menú desplegable */
.MuiMenu-paper {
  margin-top: 8px;
}
